html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Zen Kaku Gothic New, 'Source Sans Pro';
    color: black;
}

body{
    background-color: #EDEBDE;
}

/* ============MAIN WRAPPER=============*/

.wrapper{
    max-width: 140em;
    padding: 2rem;
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 2rem;
    min-height: 100vh;
    min-width: 100vw;
}


/* ============SIDEBAR=============*/

.wrapper .sidebar{
    background: #C47C4C;
    padding: 1.5rem 0;
    border-radius: 1.5rem;
}

.wrapper .sidebar h2{
    text-align: center;
    font-size: 2.7rem;
    font-weight: 400;
    color: black;
    font-family: Poppins, 'Source Sans Pro';
    text-transform: uppercase;
    text-align: center;
}

hr.line{
    margin: 5px auto;
    width: 85%;
    border-color: black;
    margin-bottom: 1rem;
}

.wrapper .sidebar ul li{
    padding: 15px;
    font-size: 2.1rem;
    font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
    font-weight: 400;
} 

.wrapper .sidebar ul li a{
    color: black;
    display: block;
}

.wrapper .sidebar ul li a .fas{
    width: 50px;
}

.wrapper .sidebar ul li:hover{
    background-color: #ECAC81;
}

.wrapper .sidebar ul li:hover a{
    color: grey;
}

.wrapper .sidebar .current{
    color: #ECAC81;
}

.wrapper .main_content{
    width: 100%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    max-height: calc(100vh - 4rem);
}

.wrapper .main_content .header{
    text-align: right;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 0 1rem 0;
}

.wrapper .main_content .header div{
    margin-left: auto;
}

/* ============HAMBURGER MENU=============*/
#hamburger {
    display: none;
    border: none;
    cursor: pointer;
    background-color: #C47C4C;
    border-radius: .5rem;
    aspect-ratio: 1;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 4px 1px;
    width: 3rem;
}

#closeButton {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    background-color: #C47C4C;
    padding: .5rem;
    border-radius: .5rem;
    aspect-ratio: 1;
    width: 3rem;
    margin-left: 2rem;
}

/* ============MAIN CONTENT INFO=============*/

.wrapper .main_content .info{
    font-size: 2rem;
    display: grid;
    gap: 1.5rem;
    max-height: 100svh;
    grid-template-rows: auto 1fr;
    flex: 1;
    overflow: auto;
}

/* ============INFO HEAD=============*/
.wrapper .main_content .info .head{
    display: flex;
    gap: 1rem;
}


/* ============INFO BODY=============*/
.wrapper .main_content .info .body{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1.5rem;
    height: 100%;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap; 
}

.wrapper .main_content .info .card{
    background: #D9C4B3;
    border-radius: 1.5rem;
    text-align: center;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* width */
::-webkit-scrollbar {
    width: 1px;
}


/* ============MEDIA QUERIES=============*/
@media screen and (max-width: 1400px) and (min-width: 1150px){
    .wrapper{
        padding: 1.5rem;
        margin: 0;
    }
    .wrapper .main_content{
        max-height: calc(100vh - 3rem);
    }
}

@media screen and (max-width: 1350px) and (min-width: 1000px){
    .wrapper .sidebar h2{
        font-size: 2.1rem;
    }

   
}

@media screen and (max-width: 1150px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .wrapper .sidebar {
        display: none; /* Hide the sidebar */
    }

    #hamburger {
        display: block; /* Display the hamburger button */
        font-size: 1rem;
    }

    .wrapper .main_content .header{
        padding: 0;
    }

    .modal-content{
        width: 75%;
    }

    /* Additional styles for the menu when displayed */
    .sidebar.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1000;
        padding: 2rem 0;
        inset: 0 70% 0 0;
        background: hsla(0, 13%, 52%, 0.1);
        backdrop-filter: blur(.5rem);
        border-radius: 0;
        overflow-y: auto;
    }   

    nav{
        margin: 3rem 0;
    }
    .wrapper .sidebar h2,hr{
        display: none;
    }
    

    .sidebar.active ul li {
        padding: 2rem;
        font-size: 2rem;
        font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
        font-weight: 400;
    }

    #closeButton{
        display: block;
    }
}

@media screen and (max-width: 520px){
    .wrapper .main_content .header {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 800px){
    .sidebar.active {
        inset: 0 50% 0 0;
    }  
}

@media screen and (max-width: 660px){
    .wrapper .main_content .info .body{
        grid-template-columns: 1fr;
        overflow-x: hidden;
        overflow-y: auto;
        white-space: normal;
    }

    .sidebar.active {
        inset: 0 20% 0 0;
    }  
}